*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: rgb(240, 241, 245);
}

.admin{
    display: flex;
    flex-direction: column;
}

.sidebarEmp{
    display: flex;
    margin-left: 3rem;
}