* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr; /* Auto for .timer, 1fr for rest */
    grid-gap: 15px;
    margin-left: 3rem;
}

.timer {
    grid-column: span 1; /* .timer spans 1 column */
    grid-row: span 2; /* .timer spans 2 rows */
    margin-right: 1.5rem;
}

.sizeClass {
    width: 257.14px;
    height: 137.83px;
    border-radius: 15.43px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

}

.totalEmployees, .onTime, .absent {
    grid-column: span 1; /* These divs span 1 column each */
}

.lateArrival, .earlyDepartures, .timeOff {
    grid-column: span 1; /* These divs span 1 column each */
    margin-top: 20px;
}

.totalEmployees, .onTime, .absent, .lateArrival, .earlyDepartures, .timeOff {
    grid-row: span 1; /* All divs in the second row span 1 row */
    padding: 20px;
    margin-right: 1.5rem;
}
.empImgNum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.totalNum{
    width: 68px;
    height: 49px;
    top: 255.09px;
    left: 522.51px;
    font-family: Lexend;
    font-size: 39.09px;
    font-weight: 300;
    line-height: 48.86px;
    text-align: left;
    color:rgba(37, 44, 88, 1);
}

.empImg{
    width: 43.2px;
    height: 43.2px;
    top: 253.03px;
    left: 688.11px;
    border-radius: 50%;
    padding: 10px;
    background-color:rgba(230, 234, 245, 1);
}

h5{
    font-family: Lexend;
    font-size: 16.46px;
    font-weight: 300;
    line-height: 20.57px;
    text-align: left;
    color:rgba(37, 44, 88, 1);
}

.plusEmpAdd{
    display: flex;
    align-items: center;
}

.plus{
    width: 15.43px;
    height: 15.43px;
    top: 339.43px;
    left: 522.51px;
    opacity: 1px;
    border-radius: 50%;
    background-image: url(../../../assets/Ellipse\ 238.png);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.decreasespan{
    background-image: url(../../../assets/Ellipse\ 238\ red.png);
}
.decreasespan{
    background-image: url(../../../assets/Ellipse\ 238\ red.png);
}
.increaseBlue{
    background-image: url(../../../assets/Ellipse\ 238\ blue.png);
}

.plusImg{
    width: 8px;
    height: 9px;
    /* top: 341.49px;
    left: 526.63px; */
    /* font-family: Lexend;
    font-size: 12.34px;
    font-weight: 800;
    line-height: 15.43px;
    text-align: left; */
    color:rgba(67, 144, 12, 1);
}

.plusEmpAdd .para{
    font-family: Lexend;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}