
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 8.23px 28.8px 0px rgba(72, 89, 102, 0.1);
    padding: 1rem;
}

.category a:hover img {
    filter: grayscale(80%);
}

.MsgImg a:hover img {
    filter: brightness(130%);
}

.refreshIcon:hover img {
    filter: brightness(130%);
}

@media only screen and (max-width: 768px) {
    .sidebar-container {
        margin-left: -29px;
    }
}
