*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(64, 173, 241);
    font-size: 50px;
}